.container
    .row
        .col
            .container-categories
                .categories-block
                    h3 Categories
                    .category-name Category name
                    .category-name Category name
                    .category-name Category name
                    .category-name Category name
                .container-brands
                    h3 Brands
                    .brend-filter-name Filtre by brand item
                    .brend-filter-name Filtre by brand item
                    .brend-filter-name Filtre by brand item
                    .brend-filter-name Filtre by brand item
                    .brend-filter-name Filtre by brand item
                .container-rating
                    h3 Rating
                    .grade-block
                    .grade-block
                    .grade-block
                    .grade-block
                    .grade-block
                .container-price
                    .container-price-block-1
                    .container-price-block-2
                .container-apply
                    .btn-main Apply
                    .btn-reset Reset
        .col
            .card-product 
                img.img-product(src="/img/1.jpg", alt="product")
                .product-info 
                    .product-title Product title
                    .product-subtitle Space for a small product description 
                    .product-grade
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star-none.png", alt="ic-actions-star")
                    .product-description
                        .product-description-block
                            .component-product-description
                                p Fresheness
                                p Farm
                                p Delivery
                                p Stock
                            .status-product-description
                                .fresheness-status 
                                    span New 
                                    p (Extra fresh)
                                p Grocery Tarm Fields
                                p Europe
                                p 320 pcs
                .buy-container
                    .price 36.99 USD
                    .discount 48.56
                    .shipping Free Shipping
                    .time-shiphing Delivery in 1 day
                    button.product-detail Product Detail
                    button.add-list Add to wish list
            .card-product
                img.img-product(src="/img/1.jpg", alt="product")
                .product-info
                    .product-title Product title
                    .product-subtitle Space for a small product description
                    .product-grade
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star-none.png", alt="ic-actions-star")
                    .product-description
                        .product-description-block
                            .component-product-description
                                p Fresheness
                                p Farm
                                p Delivery
                                p Stock
                            .status-product-description
                                .fresheness-status 
                                    span New 
                                    p (Extra fresh)
                                p Grocery Tarm Fields
                                p Europe
                                p 320 pcs
                .buy-container
                    .price 36.99 USD
                    .discount 48.56
                    .shipping Free Shipping
                    .time-shiphing Delivery in 1 day
                    button.product-detail Product Detail
                    button.add-list Add to wish list
            .card-product
                img.img-product(src="/img/1.jpg", alt="product")
                .product-info 
                    .product-title Product title
                    .product-subtitle Space for a small product description 
                    .product-grade
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star-none.png", alt="ic-actions-star")
                    .product-description
                        .product-description-block
                            .component-product-description
                                p Fresheness
                                p Farm
                                p Delivery
                                p Stock
                            .status-product-description
                                .fresheness-status 
                                    span New 
                                    p (Extra fresh)
                                p Grocery Tarm Fields
                                p Europe
                                p 320 pcs
                .buy-container
                    .price 36.99 USD
                    .discount 48.56
                    .shipping Free Shipping
                    .time-shiphing Delivery in 1 day
                    button.product-detail Product Detail
                    button.add-list Add to wish list
            .card-product
                img.img-product(src="/img/1.jpg", alt="product")
                .product-info 
                    .product-title Product title
                    .product-subtitle Space for a small product description 
                    .product-grade
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star-none.png", alt="ic-actions-star")
                    .product-description
                        .product-description-block
                            .component-product-description
                                p Fresheness
                                p Farm
                                p Delivery
                                p Stock
                            .status-product-description
                                .fresheness-status 
                                    span New 
                                    p (Extra fresh)
                                p Grocery Tarm Fields
                                p Europe
                                p 320 pcs
                .buy-container
                    .price 36.99 USD
                    .discount 48.56
                    .shipping Free Shipping
                    .time-shiphing Delivery in 1 day
                    button.product-detail Product Detail
                    button.add-list Add to wish list
            .card-product
                img.img-product(src="/img/1.jpg", alt="product")
                .product-info 
                    .product-title Product title
                    .product-subtitle Space for a small product description 
                    .product-grade
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star-none.png", alt="ic-actions-star")
                    .product-description
                        .product-description-block
                            .component-product-description
                                p Fresheness
                                p Farm
                                p Delivery
                                p Stock
                            .status-product-description
                                .fresheness-status 
                                    span New 
                                    p (Extra fresh)
                                p Grocery Tarm Fields
                                p Europe
                                p 320 pcs
                .buy-container
                    .price 36.99 USD
                    .discount 48.56
                    .shipping Free Shipping
                    .time-shiphing Delivery in 1 day
                    button.product-detail Product Detail
                    button.add-list Add to wish list