.container
    .row
        .col
            .container-categories
                .categories-blocks
                    h3 Categories
                    .category-container
                        .category-name-block
                            .category-name Category name
                            .category-name Category name
                            .category-name Category name
                            .category-name Category name
                        .category-value-block
                            .category-value 320
                            .category-value 112
                            .category-value 32
                            .category-value 48
                .container-brands
                    h3 Brands
                    .brend-filter-name
                        input(type="checkbox")
                        label Filtre by brand item
                    .brend-filter-name
                        input(type="checkbox")
                        label Filtre by brand item
                    .brend-filter-name
                        input(type="checkbox")
                        label Filtre by brand item
                    .brend-filter-name
                        input(type="checkbox")
                        label Filtre by brand item
                .container-rating
                    h3 Rating
                    .grade-block
                        input(type="checkbox")
                        label
                            .grade-block-star
                                img(src="/img/ic-star.png", alt="ic-star")
                                img(src="/img/ic-star.png", alt="ic-star")
                                img(src="/img/ic-star.png", alt="ic-star")
                                img(src="/img/ic-star.png", alt="ic-star")
                                img(src="/img/ic-star.png", alt="ic-star")
                    .grade-block
                        input(type="checkbox")
                        label
                            .grade-block-star
                                img(src="/img/ic-star.png", alt="ic-star")
                                img(src="/img/ic-star.png", alt="ic-star")
                                img(src="/img/ic-star.png", alt="ic-star")
                                img(src="/img/ic-star.png", alt="ic-star")
                                img(src="/img/ic-star-none.png", alt="ic-star")
                    .grade-block
                        input(type="checkbox")
                        label
                            .grade-block-star
                                img(src="/img/ic-star.png", alt="ic-star")
                                img(src="/img/ic-star.png", alt="ic-star")
                                img(src="/img/ic-star.png", alt="ic-star")
                                img(src="/img/ic-star-none.png", alt="ic-star")
                                img(src="/img/ic-star-none.png", alt="ic-star")
                    .grade-block
                        input(type="checkbox")
                        label
                            .grade-block-star
                                img(src="/img/ic-star.png", alt="ic-star")
                                img(src="/img/ic-star.png", alt="ic-star")
                                img(src="/img/ic-star-none.png", alt="ic-star")
                                img(src="/img/ic-star-none.png", alt="ic-star")
                                img(src="/img/ic-star-none.png", alt="ic-star")
                    .grade-block
                        input(type="checkbox")
                        label
                            .grade-block-star
                                img(src="/img/ic-star.png", alt="ic-star")
                                img(src="/img/ic-star-none.png", alt="ic-star")
                                img(src="/img/ic-star-none.png", alt="ic-star")
                                img(src="/img/ic-star-none.png", alt="ic-star")
                                img(src="/img/ic-star-none.png", alt="ic-star")
                .container-price
                    .container-price-block-1
                        h3 Price
                    .container-price-block-2
                .container-apply
                    .btn-main Apply
                    .btn-reset Reset
        .col
            .card-product 
                img.img-product(src="/img/1.jpg", alt="product")
                .product-info 
                    .product-title Product title
                    .product-subtitle Space for a small product description 
                    .product-grade
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star-none.png", alt="ic-actions-star")
                    .product-description
                        .product-description-block
                            .component-product-description
                                p Fresheness
                                p Farm
                                p Delivery
                                p Stock
                            .status-product-description
                                .fresheness-status 
                                    span New 
                                    p (Extra fresh)
                                p Grocery Tarm Fields
                                p Europe
                                p 320 pcs
                .buy-container
                    .price 36.99 USD
                    .discount 48.56
                    .shipping Free Shipping
                    .time-shiphing Delivery in 1 day
                    button.product-detail Product Detail
                    button.add-list Add to wish list
            .card-product
                img.img-product(src="/img/1.jpg", alt="product")
                .product-info
                    .product-title Product title
                    .product-subtitle Space for a small product description
                    .product-grade
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star-none.png", alt="ic-actions-star")
                    .product-description
                        .product-description-block
                            .component-product-description
                                p Fresheness
                                p Farm
                                p Delivery
                                p Stock
                            .status-product-description
                                .fresheness-status 
                                    span New 
                                    p (Extra fresh)
                                p Grocery Tarm Fields
                                p Europe
                                p 320 pcs
                .buy-container
                    .price 36.99 USD
                    .discount 48.56
                    .shipping Free Shipping
                    .time-shiphing Delivery in 1 day
                    button.product-detail Product Detail
                    button.add-list Add to wish list
            .card-product
                img.img-product(src="/img/1.jpg", alt="product")
                .product-info 
                    .product-title Product title
                    .product-subtitle Space for a small product description 
                    .product-grade
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star-none.png", alt="ic-actions-star")
                    .product-description
                        .product-description-block
                            .component-product-description
                                p Fresheness
                                p Farm
                                p Delivery
                                p Stock
                            .status-product-description
                                .fresheness-status 
                                    span New 
                                    p (Extra fresh)
                                p Grocery Tarm Fields
                                p Europe
                                p 320 pcs
                .buy-container
                    .price 36.99 USD
                    .discount 48.56
                    .shipping Free Shipping
                    .time-shiphing Delivery in 1 day
                    button.product-detail Product Detail
                    button.add-list Add to wish list
            .card-product
                img.img-product(src="/img/1.jpg", alt="product")
                .product-info 
                    .product-title Product title
                    .product-subtitle Space for a small product description 
                    .product-grade
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star-none.png", alt="ic-actions-star")
                    .product-description
                        .product-description-block
                            .component-product-description
                                p Fresheness
                                p Farm
                                p Delivery
                                p Stock
                            .status-product-description
                                .fresheness-status 
                                    span New 
                                    p (Extra fresh)
                                p Grocery Tarm Fields
                                p Europe
                                p 320 pcs
                .buy-container
                    .price 36.99 USD
                    .discount 48.56
                    .shipping Free Shipping
                    .time-shiphing Delivery in 1 day
                    button.product-detail Product Detail
                    button.add-list Add to wish list
            .card-product
                img.img-product(src="/img/1.jpg", alt="product")
                .product-info 
                    .product-title Product title
                    .product-subtitle Space for a small product description 
                    .product-grade
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star.png", alt="ic-actions-star")
                        img.ic-star(src="/img/ic-actions-star-none.png", alt="ic-actions-star")
                    .product-description
                        .product-description-block
                            .component-product-description
                                p Fresheness
                                p Farm
                                p Delivery
                                p Stock
                            .status-product-description
                                .fresheness-status 
                                    span New 
                                    p (Extra fresh)
                                p Grocery Tarm Fields
                                p Europe
                                p 320 pcs
                .buy-container
                    .price 36.99 USD
                    .discount 48.56
                    .shipping Free Shipping
                    .time-shiphing Delivery in 1 day
                    button.product-detail Product Detail
                    button.add-list Add to wish list