.container
    .row
        .col 
            .filter-container 
                .filter-container-1
                    .filter-text-1
                        input(type="radio" name="Filtre text")
                        label
                            p Filtre text
                    .filter-text-1
                        input(type="radio" name="Filtre text")
                        label
                            p Filtre text
                .filter-container-2
                    .filter-text-1
                        input(type="checkbox" name="container-2")
                        label
                            p Filtre
                    button.filter-text-2 Nbm
                .filter-container-2
                    .filter-text-1 Filtre
                    button.filter-text-2 Nbm
                .filter-container-4
                    .filter-text-1 Filtre
                    .filter-text-2 Select
    .row
        .col 
            .applied-filtres
                p Applied filtres:
                .show-felters-1 Selected Filtre
                .show-felters-2 Selected Filtre
               

