.container
    .row
        .col
            .footer-col 
                .name-col-footer Get in touch
                a(href="#") About Us
                a(href="#") Careers
                a(href="#") Press Releases 
                a(href="#") Blog
        .col
            .footer-col 
                .name-col-footer Connections
                a(href="#") Facebook
                a(href="#") Twitter
                a(href="#") Instagram 
                a(href="#") Youtube
                a(href="#") LinkedIn
        .col 
            .footer-col 
                .name-col-footer Earnings
                a(href="#") Become an Affiliate
                a(href="#") Advertise your product
                a(href="#") Sell on Market 
               
        .col 
            .footer-col 
                .name-col-footer Account
                a(href="#") Your account
                a(href="#") Returns Centre
                a(href="#") 100 % purchase protection 
                a(href="#") Chat with us    
                a(href="#") Help
    .row 
        .col 
            .product-tags-container 
                .product-tags-header 
                .tags-product 
                    .tag Beans
                    .tag Carrots
                    .tag Apples
                    .tag Garlic
                    .tag Mushrooms
                    .tag Tomatoes
                    .tag Chilli peppers
                    .tag Broccoli
                    .tag Watermelons
                    .tag Oranges
                    .tag Bananas
                    .tag Grapes
                    .tag Cherries
                    .tag Meat
                    .tag Seo tag
                    .tag Fish
                    .tag Seo tag
                    .tag Fresh food
                    .tag Lemons
                  

