header
    .container 
        .row 
            .col 
                .header-container
                    .header-top 
                        .header-block-left
                            a.link-Chat-with-us(href="#") Chat with us
                            a.link-tel(href="tel: +420336775664") +420 336 775 664
                            a.link-mail(href="mail: info@freshnesecom.com") info@freshnesecom.com
                        .header-block-right
                            a(href="#") Blog
                            a(href="#") About Us
                            a(href="#") Careers
                    .border-bottom-header
                    .header-basis
                        a.link-logo(href="#")
                            img.logo(src="/img/Freshnesecom.png", alt="logo")
                        .categories
                            select.select-categories
                                option(value="1") All categories
                            input.input-categories(type="Search Products, categories ..." placeholder="Search Products, categories ...")
                            button 
                                img(src="/img/ic-actions-search.png", alt="icon")
                        .icon-header
                            img.img-icon-header-basis(src="/img/Layer.png", alt="icon")
                            img.img-icon-header-basis(src="/img/Vrstva 173.png", alt="icon")
    
