extends base

block content 
    include header 
    include menu 
    include navigation
    include filter
    include components
    include pagination 
    include footer
        



    
        
      

      
        
