.container
    .row
        .col 
            .menu-container
                select.select-menu
                    option(value="1") Bakery
                select.select-menu
                    option(value="1") Fruit and vegetables
                select.select-menu
                    option(value="1") Meat and fish
                select.select-menu
                    option(value="1") Drinks
                select.select-menu
                    option(value="1") Kitchen
                select.select-menu
                    option(value="1") Special nutrition
                select.select-menu
                    option(value="1") Baby
                select.select-menu
                    option(value="1") Pharmacy
