.container
    .row
        .col 
            .navigation-container 
                .navigation-subtitle
                    a.name-str-1(href="#")  Homepage  /
                    a.name-str-2(href="#")  Fruit and vegetables
                .navigation-header 
                    .navigation-header-name Fruit and vegetables
                    .navigation-header-item-container 
                        .navigation-header-item-1 
                            img(src="/img/123.png", alt="")
                            p.navigation-header-text-1 Grid view
                        .navigation-header-item-2
                            img(src="/img/124.png", alt="")
                            p List view
                        .navigation-header-item-3
                            .number 117
                            p Products

