.container
    .row
        .col
            .pagination-container 
                .pagination-container-block-1
                    .page Page: 1 2 3 4

                button.btn-main Show more products
                .pagination-container-block-2
                    .amount-product-1 336 
                    .amount-product-2 Products